<%- include('../../components/pageHead.ejs') %>
    <div id="layout-wrapper">
        <%- include('../../components/header.ejs') %>
            <!-- Left Sidebar End -->
            <!-- Vertical Overlay-->
            <div class="vertical-overlay"></div>
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                        <div class="profile-foreground position-relative mx-n4 mt-n4">
                            <div class="profile-wid-bg">
                                <img src="<%= owner ? user.backgroundPhoto : searchedUser.backgroundPhoto %>" alt=""
                                    class="profile-wid-img" />
                            </div>
                        </div>
                        <div class="pt-4 mb-4 mb-lg-3 pb-lg-4">
                            <div class="row g-4">
                                <div class="col-auto">
                                    <div class="avatar-lg">
                                        <img src="<%= owner ? user.photo : searchedUser.photo %>"
                                            crossorigin="anonymous" alt="user-img"
                                            class="img-thumbnail rounded-circle" />
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col">
                                    <div class="p-2">
                                        <h3 class="text-white mb-1">
                                            <% if(owner) { %>
                                                <%= user.username ? user.username : user.email %>
                                                    <% }else{ %>
                                                        <%= searchedUser.username ? searchedUser.username :
                                                            searchedUser.email %>
                                                            <% } %>
                                        </h3>
                                        <p class="text-white-75">
                                            <%= owner ? user.title : searchedUser.title %>
                                        </p>
                                    </div>
                                </div>
                                <!--end col-->

                            </div>
                            <!--end row-->
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="d-flex">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1"
                                            role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link fs-14 active" data-bs-toggle="tab"
                                                    href="#overview-tab" role="tab">
                                                    <i class="ri-airplay-fill d-inline-block d-md-none"></i> <span
                                                        class="d-none d-md-inline-block">Overview</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <% if(owner){ %>
                                            <div class="flex-shrink-0">
                                                <a href="/admin/user/edit" class="btn btn-success"><i
                                                        class="ri-edit-box-line align-bottom"></i> Edit Profile</a>
                                            </div>
                                            <% }else{ %>
                                                <div class="flex-shrink-0">
                                                    <a href="/admin/chat?to=<%= searchedUser._id %>">
                                                        <button type="button"
                                                            class="btn btn-info bg-gradient waves-effect waves-light">Send
                                                            message</button></a>
                                                </div>
                                                <% } %>
                                    </div>
                                    <!-- Tab panes -->
                                    <div class="tab-content pt-4 text-muted">
                                        <div class="tab-pane active" id="overview-tab" role="tabpanel">
                                            <div class="row">
                                                <div class="col-xxl-3">

                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h5 class="card-title mb-3">Info</h5>
                                                            <div class="table-responsive">
                                                                <table class="table table-borderless mb-0">
                                                                    <tbody>
                                                                        <% if(user.firstName || (owner &&
                                                                            searchedUser.firstName)){ %>
                                                                            <tr>
                                                                                <th class="ps-0" scope="row">First Name
                                                                                    :
                                                                                </th>
                                                                                <td class="text-muted">
                                                                                    <%= owner ? user.firstName :
                                                                                        searchedUser.firstName %>
                                                                                </td>
                                                                            </tr>
                                                                            <% } %>
                                                                                <% if(user.lastName || (owner &&
                                                                                    searchedUser.lastName)){ %>
                                                                                    <tr>
                                                                                        <th class="ps-0" scope="row">
                                                                                            Last Name :</th>
                                                                                        <td class="text-muted">
                                                                                            <%= owner ? user.lastName :
                                                                                                searchedUser.lastName %>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <% } %>
                                                                                        <tr>
                                                                                            <th class="ps-0"
                                                                                                scope="row">E-mail :
                                                                                            </th>
                                                                                            <td class="text-muted">
                                                                                                <%= owner ? user.email :
                                                                                                    searchedUser.email
                                                                                                    %>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="ps-0"
                                                                                                scope="row">Joining Date
                                                                                            </th>
                                                                                            <td class="text-muted">
                                                                                                <%= new Date(owner ?
                                                                                                    user.createdAt :
                                                                                                    searchedUser.createdAt).toDateString()
                                                                                                    %>
                                                                                            </td>
                                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div><!-- end card body -->
                                                    </div><!-- end card -->

                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex align-items-center mb-4">
                                                                <div class="flex-grow-1">
                                                                    <h5 class="card-title mb-0">Suggestions</h5>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="d-flex align-items-center py-3">
                                                                    <div class="avatar-xs flex-shrink-0 me-3">
                                                                        <img src="/assets/images/users/avatar-3.jpg"
                                                                            alt="" class="img-fluid rounded-circle" />
                                                                    </div>
                                                                    <div class="flex-grow-1">
                                                                        <div>
                                                                            <h5 class="fs-14 mb-1">Esther James</h5>
                                                                            <p class="fs-13 text-muted mb-0">Frontend
                                                                                Developer</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0 ms-2">
                                                                        <button type="button"
                                                                            class="btn btn-sm btn-outline-success"><i
                                                                                class="ri-user-add-line align-middle"></i></button>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex align-items-center py-3">
                                                                    <div class="avatar-xs flex-shrink-0 me-3">
                                                                        <img src="/assets/images/users/avatar-4.jpg"
                                                                            alt="" class="img-fluid rounded-circle" />
                                                                    </div>
                                                                    <div class="flex-grow-1">
                                                                        <div>
                                                                            <h5 class="fs-14 mb-1">Jacqueline Steve</h5>
                                                                            <p class="fs-13 text-muted mb-0">UI/UX
                                                                                Designer
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0 ms-2">
                                                                        <button type="button"
                                                                            class="btn btn-sm btn-outline-success"><i
                                                                                class="ri-user-add-line align-middle"></i></button>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex align-items-center py-3">
                                                                    <div class="avatar-xs flex-shrink-0 me-3">
                                                                        <img src="/assets/images/users/avatar-5.jpg"
                                                                            alt="" class="img-fluid rounded-circle" />
                                                                    </div>
                                                                    <div class="flex-grow-1">
                                                                        <div>
                                                                            <h5 class="fs-14 mb-1">George Whalen</h5>
                                                                            <p class="fs-13 text-muted mb-0">Backend
                                                                                Developer</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0 ms-2">
                                                                        <button type="button"
                                                                            class="btn btn-sm btn-outline-success"><i
                                                                                class="ri-user-add-line align-middle"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- end card body -->
                                                    </div>
                                                    <!--end card-->

                                                </div>
                                                <!--end col-->
                                                <div class="col-xxl-9">
                                                    <% if(user.description || searchedUser.description){ %>
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <h5 class="card-title mb-3">About</h5>
                                                                <%= owner ? user.description : searchedUser.description
                                                                    %>
                                                                    <!--end row-->
                                                            </div>
                                                            <!--end card-body-->
                                                        </div><!-- end card -->
                                                        <% } %>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                    </div>
                                    <!--end tab-content-->
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->

                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

            </div>
            <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    <button class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
    <%- include('../../components/pageEnd.ejs') %>