<%- include('../../components/pageHead.ejs') %>
    <div id="layout-wrapper">
        <%- include('../../components/header.ejs') %>

            <!-- Vertical Overlay-->
            <div class="vertical-overlay"></div>
            <div class="main-content">
                <div class="page-content" style="padding-bottom:0">
                    <div class="container-fluid">

                        <!-- end page title -->

                        <div class="chat-wrapper d-lg-flex gap-1 mx-n4 mt-n4 p-1">
                            <div class="chat-leftsidebar">
                                <div class="px-4 pt-4 mb-4">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1">
                                            <h5 class="mb-4">Chats</h5>
                                        </div>
                                    </div>

                                </div> <!-- .p-4 -->

                                <div class="chat-room-list" data-simplebar>

                                    <div class="d-flex align-items-center px-4 mb-2">
                                        <div class="flex-grow-1">
                                            <h4 class="mb-0 fs-11 text-muted text-uppercase">Direct Messages</h4>
                                        </div>
                                    </div>

                                    <div class="chat-message-list">

                                        <ul class="list-unstyled chat-list chat-user-list" id="userList">
                                            <% if(selectedUser){ %>
                                                <%- include('component/directMessage.ejs', { active: true }) %>
                                                    <% } %>
                                                        <% conversations.forEach((conversation, key )=> { %>
                                                            <% if(selectedUser &&
                                                                selectedUser.id!==conversation.userInfo._id.toString()){
                                                                %>
                                                                <% if (!selectedUser && key===0) { %>
                                                                    <%- include('component/directMessage.ejs',
                                                                        {active:true, selectedUser:
                                                                        conversation.userInfo}) %>
                                                                        <% }else{ %>
                                                                            <%- include('component/directMessage.ejs',{active:
                                                                                false,
                                                                                selectedUser:conversation.userInfo}) %>
                                                                                <% } %>
                                                                                    <% }else{ %>
                                                                                        <% if(!selectedUser){ %>
                                                                                            <%- include('component/directMessage.ejs',
                                                                                                {active:
                                                                                                key===0,selectedUser:conversation.userInfo})
                                                                                                %>
                                                                                                <% } %>
                                                                                                    <% }}) %>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <!-- end chat leftsidebar -->
                            <!-- Start User chat -->
                            <div id="chat" class="user-chat w-100 overflow-hidden">

                                <div class="chat-content d-lg-flex">
                                    <!-- start chat conversation section -->
                                    <div class="w-100 overflow-hidden position-relative">
                                        <!-- conversation user -->
                                        <div class="position-relative">
                                            <div class="p-3 user-chat-topbar">
                                                <div class="row align-items-center">
                                                    <div class="col-sm-4 col-8">
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 d-block d-lg-none me-3">
                                                                <a href="#" class="user-chat-remove fs-18 p-1"><i
                                                                        class="ri-arrow-left-s-line align-bottom"></i></a>
                                                            </div>
                                                            <div class="flex-grow-1 overflow-hidden">
                                                                <div class="d-flex align-items-center">
                                                                    <div
                                                                        class="flex-shrink-0 chat-user-img user-own-img align-self-center me-3 ms-0">
                                                                        <img crossorigin="anonymous" src=""
                                                                            class="chatterPhoto rounded-circle avatar-xs"
                                                                            alt="">
                                                                    </div>
                                                                    <div class="flex-grow-1 overflow-hidden">
                                                                        <h5 class="text-truncate mb-0 fs-16"><a
                                                                                class="chatterMainName text-reset username"
                                                                                data-bs-toggle="offcanvas"
                                                                                href="#userProfile"
                                                                                aria-controls="userProfile"></a></h5>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 col-4">
                                                        <ul class="list-inline user-chat-nav text-end mb-0">

                                                            <li class="list-inline-item d-none d-lg-inline-block m-0">
                                                                <button type="button"
                                                                    class="btn btn-ghost-secondary btn-icon"
                                                                    data-bs-toggle="offcanvas"
                                                                    data-bs-target="#userProfile"
                                                                    aria-controls="userProfile">
                                                                    <i data-feather="info" class="icon-sm"></i>
                                                                </button>
                                                            </li>


                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- end chat user head -->

                                            <div class="position-relative" style="height:calc(100vh - 246px)"
                                                id="users-chat">
                                                <div class="chat-conversation p-3 p-lg-4 " id="chat-conversation"
                                                    data-simplebar>
                                                    <ul class="list-unstyled chat-conversation-list"
                                                        id="users-conversation">
                                                    </ul>
                                                    <!-- end chat-conversation-list -->

                                                </div>
                                            </div>

                                            <!-- end chat-conversation -->

                                            <div class="chat-input-section p-3 p-lg-4">

                                                <form id="chatinput-form" data-offset="0" enctype="multipart/form-data">
                                                    <div class="row g-0 align-items-center">

                                                        <div class="col">
                                                            <div class="chat-input-feedback">
                                                                Please Enter a Message
                                                            </div>
                                                            <input type="text"
                                                                class="form-control chat-input bg-light border-light"
                                                                id="chat-input" placeholder="Type your message..."
                                                                autocomplete="off">
                                                        </div>
                                                        <div class="col-auto">
                                                            <div class="chat-input-links ms-2">
                                                                <div class="links-list-item">
                                                                    <button type="submit"
                                                                        class="btn btn-success chat-send waves-effect waves-light">
                                                                        <i
                                                                            class="ri-send-plane-2-fill align-bottom"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end chat-wrapper -->

                        <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="userProfile">
                            <!--end offcanvas-header-->
                            <div class="offcanvas-body profile-offcanvas p-0">
                                <div class="team-cover">
                                    <img src="" alt="" class="chatterBackground img-fluid" />
                                </div>
                                <div class="p-1 pb-4 pt-0">
                                    <div class="team-settings">
                                        <div class="row g-0">
                                            <div class="col">
                                                <div class="btn nav-btn">
                                                    <button type="button" class="btn-close btn-close-white"
                                                        data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <div class="p-3 text-center">
                                    <img src="" alt="" crossorigin="anonymous"
                                        class=" chatterPhoto avatar-lg img-thumbnail rounded-circle mx-auto">
                                    <div class="d-flex gap-2 justify-content-center" id="userUsername">
                                    </div>
                                </div>
                                <div class="border-top border-top-dashed p-3">
                                    <h5 class="fs-15 mb-3">Personal Details</h5>
                                    <div class="mb-3">
                                        <p class="text-muted text-uppercase fw-medium fs-12 mb-1">Email</p>
                                        <h6 class="chatterEmail"></h6>
                                    </div>
                                    <div>
                                        <p class="text-muted text-uppercase fw-medium fs-12 mb-1">Joining Date</p>
                                        <h6 class="mb-0 chatterJoiningDate"></h6>
                                    </div>
                                </div>
                                <div class="border-top border-top-dashed p-3">
                                    <div class="vstack gap-2">
                                        <div class="text-center mt-2">
                                            <a id="userPageLink" href="#"><button type="button"
                                                    class="btn btn-danger">Go to user page <i
                                                        class="ri-arrow-right-fill align-bottom ms-1"></i></button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end offcanvas-body-->
                        </div>
                        <!--end offcanvas-->


                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

            </div>
            <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    <button class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/libs/glightbox/js/glightbox.min.js"></script>
    <script nonce="allow">
        function scrollToBottom(id) {
            setTimeout(function () {
                var simpleBar = document
                    .getElementById(id)
                    .querySelector('#chat-conversation .simplebar-content-wrapper')
                    ? document
                        .getElementById(id)
                        .querySelector(
                            '#chat-conversation .simplebar-content-wrapper'
                        )
                    : '';

                var offsetHeight = document.getElementsByClassName(
                    'chat-conversation-list'
                )[0]
                    ? document
                        .getElementById(id)
                        .getElementsByClassName('chat-conversation-list')[0]
                        .scrollHeight -
                    window.innerHeight +
                    335
                    : 0;
                if (offsetHeight)
                    simpleBar.scrollTo({
                        top: offsetHeight,
                        behavior: 'smooth',
                    });
            }, 200);
        }
        const socket = io('http://localhost:3000', { autoConnect: false });
        socket.auth = { userId: '<%= user._id %>' };
        socket.connect();

        setTimeout(function () {
            var simplebar = document
                .getElementById('users-chat')
                .querySelector('#chat-conversation .simplebar-content-wrapper');

            simplebar.addEventListener('scroll', () => {
                if (simplebar.scrollTop === 0) {
                    var firstEl = $('#users-conversation');
                    loadMore(firstEl)
                    simplebar.scrollTo({
                        top: 10,
                        behavior: 'smooth',
                    });
                }
            });
        }, 200);

        function loadMore(el) {
            var userId = $('#chatinput-form').data('userId');
            var offset = $('#chatinput-form').data('offset');
            if (offset !== 'empty') {
                offset += 15;
                $.ajax({
                    url: '/admin/chat/get-messages',
                    type: 'GET',
                    data: {
                        to: userId,
                        offset: offset
                    },
                    success: (res) => {
                        if (res.data.length === 0) {
                            $('#chatinput-form').data('offset', 'empty');
                            return;
                        }
                        $('#chatinput-form').data('offset', offset);
                        var chatConList = document.getElementById('users-chat');
                        const list = chatConList.querySelector('.chat-conversation-list');

                        res.data.forEach((msg) => {
                            var userClass = msg.owner ? 'right' : 'left';
                            el.prepend('<li class="chat-list ' +
                                userClass +
                                '" id="chat-list-' +
                                messageIds +
                                '" >\
                                        <div class="conversation-list">\
                                            <div class="user-chat-content">\
                                                <div class="ctext-wrap">\
                                                    <div class="ctext-wrap-content">\
                                                        <p class="mb-0 ctext-content">\
                                                            ' +
                                msg.text +
                                '\
                                                        </p>\
                                                </div>\
                                            </div>\
                                            <div class="conversation-name">\
                                                <small class="text-muted time">' +
                                new Date(msg.createdAt).toDateString() +
                                '</small>\
                                                <span class="text-success check-message-icon"></span>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </li>')
                        })
                    }
                })
            } else {
                if (!document.getElementById('no-more')) el.prepend('<div id="no-more" class="text-center">*No more messages*</div>');
            }
        }

        $(".select-user").click(function () {
            $('#users-conversation').empty();
            const id = $(this).attr('data-id');

            insertMessages(id, $('#chatinput-form').data('offset'));
            scrollToBottom('users-chat');
        });

        $(".select-user").first().click();

        function insertMessages(id, offset) {
            $.ajax({
                url: '/admin/chat/get-messages',
                type: 'GET',
                data: {
                    to: id,
                    offset: offset
                },
                success: (res) => {
                    var chatConList = document.getElementById('users-chat');
                    const list = chatConList.querySelector('.chat-conversation-list');
                    $('.chatterMainName').text(res.userData.username ? res.userData.username : res.userData.email)
                    $('#userUsername').text(res.userData.username ? res.userData.username : res.userData.email)
                    $('.chatterPhoto').attr('src', res.userData.photo)
                    $('#userPageLink').attr('href', '/admin/user/' + res.userData._id)
                    $('.chatterBackground').attr('src', res.userData.backgroundPhoto)
                    $('.chatterEmail').text(res.userData.email)
                    $('.chatterJoiningDate').text(new Date(res.userData.createdAt).toDateString())
                    $('#chatinput-form').data('userId', res.userData._id)

                    res.data.forEach((msg) => {
                        var userClass = msg.owner ? 'right' : 'left';
                        createMessage(list, msg.text, userClass, msg.createdAt);
                    })
                }
            })
        }
            <% if (selectedUser) { %>

            $('.chatterMainName #userUsername').text('<%= selectedUser.username ? selectedUser.username : selectedUser.email %>')
            $('#userUsername').text('<%= selectedUser.username ? selectedUser.username : selectedUser.email %>')
            $('.chatterPhoto').attr('src', '<%= selectedUser.photo %>')
            $('#userPageLink').attr('href', '/admin/user/<%= selectedUser.id %>')
            $('.chatterBackground').attr('src', '<%= selectedUser.backgroundPhoto %>')
            $('.chatterEmail').text('<%= selectedUser.email %>')
            $('.chatterJoiningDate').text('<%= new Date(selectedUser.createdAt).toDateString() %>')
            $('#chatinput-form').data('userId', '<%= selectedUser.id %>')


            insertMessages($('#chatinput-form').data('userId'), $('#chatinput-form').data('offset'))
                <% } %>
    </script>
    <script src="/assets/js/pages/chat.init.js"></script>
    <%- include('../../components/pageEnd.ejs') %>